@import 'mixins';
@import 'variables';

.hero {
  min-height: 696px;
  &-slider__title {
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    color: #fff;
    padding: 142px 0 72px 60px;
  }
  &-slider__item {
    background-image: url(../img/hero/hero-bg.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 696px;
    width: 100%;
  }
  &-slider__text {
    max-width: 810px;
    font-size: 24px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 60px;
  }
  &-slider__button {
    width: 320px;
    height: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-button;
    margin-left: 60px;
    margin-top: 49px;
    font-size: 24px;
    position: relative;
    transition: 0.4s;
    &:hover {
      background: lighten($color-button, 10%);
    }
  }
}
.slick-list {
  position: relative;
}
.slick-dots {
  @include display-pos-center;
  left: 50%;
  bottom: 26px;
  margin: 0;
  list-style-type: none;
  li {
    margin: 0 5px;
  }

  button {
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #000;
    text-indent: -9999px;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
  li.slick-active button {
    background-color: #c4c4c4;
  }
}
