@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin display-pos-center {
  display: flex;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
}
@mixin title-section {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000;
}
@mixin see-all-link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  right: 0;
  top: 15px;
  color: rgba(0, 0, 0, 0.5);
}
