@import 'mixins';
@import 'variables';

.new {
  background: #f5f5f5;
  padding: 68px 0 58px;
  &-container {
    max-width: 1317px;
    width: 100%;
    margin: 0 auto;
  }
  &-title {
    @include title-section;
    padding-bottom: 24px;
    &__container {
      position: relative;
      max-width: 1300px;
      width: 100%;
      margin: 0 auto;
    }
  }
  &-link-all {
    @include see-all-link;
    transition: 0.4s;
    &:hover {
      color: #000;
    }
  }
}
